/* font-family: 'Rubik', sans-serif;
font-family: 'Oswald', sans-serif; */

html,
body {
  color: #2c2a2a;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: tomato;
}

h1 {
  color: lightslategrey;
  text-shadow: 2px 2px 1px black;
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

header {
  width: 100%;
  margin: 0 auto 25px;
  text-align: center;
  background: white;
}

header img {
  max-height: 250px;
}

table {
  width: 95%;
  margin: 0 auto 60px;
  table-layout: fixed;
  font-size: 1.15rem;
}

table,
th,
td {
  padding: 10px 0;
  text-align: center;
  border: 1px solid #CCC;
}

th {
  color: #000;
  font-weight: bold;
}

td img {
  width: 25px;
}

.store-number {
  font-weight: bold;
}

tr:nth-child(even) {
  background: rgba(215, 213, 241, .45);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: white;
  border-top: thin solid black
}

footer p {
  position: absolute;
  bottom: 0;
  margin: 0 10px 5px;
}

footer img {
  width: 22px;
  margin-bottom: -5px;
}


/* select box: styling by https://codepen.io/PeterGeller/pen/wksIF?editors=1100#0  */

.select-box {
  cursor: pointer;
  position: relative;
  max-width: 20em;
  margin: 5px auto 30px;
  width: 100%;
}

.select,
.label {
  color: #000;
  display: block;
  font: 16px 'Rubik', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}

.district-selection {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}

.open .label::after {
  content: "▲";
}

.label::after {
  content: "▼";
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  /* border-left: 5px solid #fff; */
}


/* media queries */

@media (min-width: 600px) {
  h1 {
    font-size: 3.5em;
  }
  .select,
  .label,
  .label::after {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1.25em;
  }
  h1 {
    font-size: 4em;
    padding-bottom: 20px;
  }
  .select,
  .label,
  .label::after {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  table {
    font-size: 1.30em;
  }
}

@media (min-width: 1575px) {
  header {
    width: 100%;
    background: black;
    height: 265px;
  }
  header img {
    margin-top: 7px;
  }
}

@media (min-width: 1800px) {
  section {
    margin: 0 120px;
  }
}
