// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
$heading-font: 'Montserrat', sans-serif;
$primary-font: 'Raleway', sans-serif;

// Overrides
$enable-gradients: true;
$enable-shadows: true;

// Colors
$acidic: #ac1d1c;
$badass: #bada55;
$diesel: #d13537;
$facebook-blue: #4267b2;
$fbi: #fb1;
$foo: #f00;
$ghost: #efefef;
$google-green: #34a853;
$ice: #1ce;
$yelp-red: #be2020;

// Misc
$sidebar-width: 250px;
